In [3]:
import pandas as pd
import pymongo

df = pd.read_csv('diabetes.csv')
df.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
247,0,165,90,33,680,52.3,0.427,23,0
96,2,92,62,28,0,31.6,0.130,24,0
624,2,108,64,0,0,30.8,0.158,21,0
431,3,89,74,16,85,30.4,0.551,38,0
528,0,117,66,31,188,30.8,0.493,22,0
304,3,150,76,0,0,21.0,0.207,37,0
59,0,105,64,41,142,41.5,0.173,22,0
280,0,146,70,0,0,37.9,0.334,28,1
113,4,76,62,0,0,34.0,0.391,25,0
24,11,143,94,33,146,36.6,0.254,51,1

In [4]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

### Dataframe(df) should be converted into dict before we push it to mongodb

In [5]:
data = df.to_dict(orient='records')

In [7]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://samratrc47:bAiQxldorUU1wU7s@cluster0.qtkagg6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [8]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

### Uploading data to MongoDB

In [9]:
rec = collection.insert_many(data)

In [10]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>

### Load back data from mongodb

In [11]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,67ead3875c3393983b59f69c,6,148,72,35,0,33.6,0.627,50,1
1,67ead3875c3393983b59f69d,1,85,66,29,0,26.6,0.351,31,0