In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('diabetes.csv')
df.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
437,5,147,75,0,0,29.9,0.434,28,0
508,2,84,50,23,76,30.4,0.968,21,0
150,1,136,74,50,204,37.4,0.399,24,0
289,5,108,72,43,75,36.1,0.263,33,0
387,8,105,100,36,0,43.3,0.239,45,1
318,3,115,66,39,140,38.1,0.150,28,0
567,6,92,62,32,126,32.0,0.085,46,0
49,7,105,0,0,0,0.0,0.305,24,0
407,0,101,62,0,0,21.9,0.336,25,0
118,4,97,60,23,0,28.2,0.443,22,0

In [2]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

### Dataframe(df) should be converted into dict before we push it to mongodb

In [3]:
data = df.to_dict(orient='records')

In [4]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://samratrc47:bAiQxldorUU1wU7s@cluster0.qtkagg6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [5]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [6]:
collection.delete_many({})

DeleteResult({'n': 2304, 'electionId': ObjectId('7fffffff00000000000000db'), 'opTime': {'ts': Timestamp(1745073963, 241), 't': 219}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1745073963, 241), 'signature': {'hash': b'\x0cVw\xfb\xa0\xb0w.\x10\xbd\x00}\x10\x9c\xdfc\xc4\xd0\x11\xe7', 'keyId': 7458945548343574534}}, 'operationTime': Timestamp(1745073963, 241)}, acknowledged=True)

### Uploading data to MongoDB

In [7]:
rec = collection.insert_many(data)

In [8]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>

### Load back data from mongodb

In [9]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6803b72b5df6231c260f73dd,6,148,72,35,0,33.6,0.627,50,1
1,6803b72b5df6231c260f73de,1,85,66,29,0,26.6,0.351,31,0